recentf
ac-comphist.dat
projectile-bookmarks.eld
tramp
.edbi-ds-history
.mc-lists.el
network-security.data
oauth2.plstore
redguardtoo
.sx/*

desktop/*
auto-save-list/*
emacs-backup/*
emacs-auto-save/*
eshell/*
elpa/*
project-persist/*
url/*
org-gcal/*
request/*